//-
//- Copyright (c) Microsoft.
//-

.footer
  .mailFooter
    table(style='width:100%;', cellspacing=0, cellpadding=0)
      tbody
        tr
          td(width='100%', colspan='2', style='height:28px')
            p
        tr
          td(width='100%', colspan='2', style='height:12px;border-top: 1px solid #ddd;')
        if reason
          tr
            td(width='100%', colspan='2')
              p
                small
                  != reason
        if unsubscribeText && unsubscribeLink
          tr
            td(width='100%', colspan='2')
              p
                small: a(href=unsubscribeLink)= unsubscribeText

        if correlationId || view
          tr
            td(width='100%', colspan='2')
              p
                small
                  if version
                    | Repos #{version}
                    br
                  if correlationId
                    | Correlation ID: #{correlationId}
                  if correlationId && view
                    br
                  if view
                    | Template: #{view}
        tr
          td
            p.footer
              | #{companyName}
              br
              if config && config.urls && config.urls.explore
                a(href=config.urls.explore) Explore
                | &nbsp;&bull;&nbsp;
              if config && config.urls && config.urls.docs
                a(href=config.urls.docs) Docs
                | &nbsp;&bull;&nbsp;
              if config && config.brand && config.brand.supportMail
                a(href='mailto:' + config.brand.supportMail) #{config.brand.supportMail}

          td(width='120', valign='middle')
            if config && config.brand && config.brand.companyLogoSrc
              img(align='right', valign='middle', src=config.brand.companyLogoSrc, width='108', alt=companyName)
