//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends email

block content

  if contributionMailType == 'nominate'
    p Starting in April, Microsoft will donate $10,000/month to an open source project chosen by #[strong you].
    h4 Nominate a project to receive $10,000 in April
    p You've already contributed to open source this month - thank you! If you'd like to nominate a project, the #[a(href='https://aka.ms/fossfund') nomination form is now available to you].
    p Voting will begin mid-April, at which time you will be able to cast your vote at #[a(href='https://aka.ms/fossfund') https://aka.ms/fossfund].

  else if contributionMailType == 'godo'
    p Starting in April, Microsoft will donate $10,000/month to an open source project chosen by eligible employees and interns.
    h4 Help us give $10,000 to open source in April
    p Everyone who contributes to a public, non-Microsoft project on GitHub can vote. There's still time left for you to contribute to a public GitHub project! Look for tips about how to get started below. You've been doing great contributing to Microsoft projects on GitHub, but we're hoping that you'll consider broadening your impact on GitHub this month.
  else
    //- if contributionMailType == 'opportunity'
    p Starting in April, Microsoft will donate $10,000/month to an open source project chosen by eligible employees and interns.
    h4 Contribute now to vote in the FOSS Fund
    p Everyone who contributes to a public, non-Microsoft project on GitHub can vote. There's still time left! Look for tips about how to get started below.

  if openContributions && openContributions.length
    p: strong Thanks for making #{openContributions.length} open source contribution#{openContributions.length === 1 ? '' : 's'} in the open on GitHub this month.

    if contributions
      - var nominationTypes = Object.getOwnPropertyNames(contributions)
      p #[a(href='https://aka.ms/fossfund') Contributions you've made this month]:
      ul
        each nt in nominationTypes
          - var countOfThisType = contributions[nt].length
          - var pluralSuffix = countOfThisType > 1 ? 's' : ''
          if nt == 'CommitCommentEvent'
            li Commit comment#{pluralSuffix}
          else if nt == 'IssueCommentEvent'
            li Issue discussion#{pluralSuffix}
          else if nt == 'IssuesEvent'
            li Issue#{pluralSuffix} opened/closed
          else if nt == 'PullRequestEvent'
            li Pull request#{pluralSuffix} created/merged
          else if nt == 'PullRequestReviewEvent'
            li Pull request review#{pluralSuffix}
          else if nt == 'PullRequestReviewCommentEvent'
            li Pull request comment#{pluralSuffix}
          else
            //- some other type

  if otherContributionsData && otherContributionsData.length
    p You made #{otherContributionsData.length} contribution#{otherContributionsData.length === 1 ? '' : 's'} to Microsoft-governed repos this month that are not part of the FOSS Fund focus.

  hr
  h2 Contributing in the open
  p We are trying to drive a change across Microsoft. We'd like to see more Microsofties contributing to open source communities, whether as part of your role, a Day of Learning project, updating project dependencies, hobbies, or pursuing off-hours projects and interests.

  h2 About our FOSS Fund
  p Microsoft's Open Source Programs Office, 1ES (One Engineering System), and GitHub are launching the first FOSS Fund program at Microsoft. #[a(href='https://engineering.indeedblog.com/blog/2019/07/foss-fund-six-months-in/') They are inspired by Indeed's efforts] to drive employee participation in open source and support open source projects that companies depend on.
  p Starting in April 2020, Microsoft's FOSS Fund will give $10,000 to the most-voted-for open source software project. Projects are nominated and selected by those at Microsoft who contribute to communities that are not primarily  Microsoft communities.

  h3 Nominating projects
  p A nomination form is available at #[a(href='https://aka.ms/fossfund') https://aka.ms/fossfund] for eligible voters to nominate projects that they care about.
  p Projects must:
  ul
    li Be used by Microsoft
    li Have an OSI-approved license such as MIT, Apache 2.0, GPL, etc.
    li Must have a mechanism for receiving funds (the GitHub Sponsors team may be able to help)
    li Cannot be a Microsoft employee-led project

  h3 Voter eligibility
  p Eligible voters:
  ul
    li Must have a linked GitHub account at #[a(href='https://repos.opensource.microsoft.com') https://repos.opensource.microsoft.com]
    li Must be an FTE or intern
    li Must have contributed in the open to at least one project on GitHub beyond Microsoft's governance during the Redmond calendar month. Contributions to your own repos or to forks of Microsoft projects are not included.
    li Contributions include opening and merging pull requests, opening issues, discussing issues, performing code reviews of pull requests, etc.

  h3 Where to view your contributions, nominate and vote
  p The page at #[a(href='https://aka.ms/fossfund') https://aka.ms/fossfund] will show your contributions and other information about nominating and voting.

  h3 Feedback
  p We'd love to hear from you at #[a(href='mailto:opensource@microsoft.com') opensource@microsoft.com].
  p Other resources of note include #[a(href='https://docs.opensource.microsoft.com') https://docs.opensource.microsoft.com] and the open source support channel on Microsoft Teams at #[a(href='https://aka.ms/opensourcechannel') https://aka.ms/opensourcechannel].

  h3 Looking to get started?
  p If you're looking to get involved, feel free to check out these resources or #[a(href='mailto:opensource@microsoft.com') contact the Open Source Champs at opensource@microsoft.com] to discuss your interests and experience.
  p Often the best way to get started is to "watch" a GitHub repo to get notified of happenings such as new pull requests, issue discussions, etc. You can watch how the community works together, and when you feel comfortable, you can jump in and add your thoughts to issues, review code, or submit your own pull requests.
  p Consider checking out:
  ul
    li: a(href='https://opensource.guide/', target='_new') The Open Source Guides at https://opensource.guide
    li: a(href='https://docs.opensource.microsoft.com/content/contributing/index.html', target='_new') Microsoft's Contribution guide and policies
    li: a(href='https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsearch%3Fq%3Dlabel%253Afirst-timers-only%26state%3Dopen%26type%3DIssues&data=02%7C01%7CJeff.Wilcox%40microsoft.com%7Ccf5f2217d0374c392c9708d7d002cbf7%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637206582744699280&sdata=%2FhP4bwZNDWtqNMOiTsNEIPplaodPtQMnjW4nKgKy4a8%3D&reserved=0', target='_new') Great first issues on GitHub
    li: a(href='https://aka.ms/opensourcechannel') Open the Open Source Channel on Microsoft Teams to discuss with others

  h3 Opting out
  p If you would like to opt out of future notifications about the FOSS Fund, you will find a link at the bottom of this e-mail to unsubscribe. We would appreciate, however, if you would also write to us at #[a(href='mailto:opensource@microsoft.com') opensource@microsoft.com] to let us know why you're opting out, so we can learn from you.

  //-if employee && employee.corporateDisplayName
    hr
    p= 'Message for: ' + employee.corporateDisplayName
    p= 'GitHub username: ' + employee.thirdPartyUsername