//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends email

block content
  if link.isServiceAccount
    h4 Service Account linked

  h3 Congratulations!
  p Your GitHub account is now linked with your corporate identity.

  table
    tbody
      if link.isServiceAccount
        tr
          td Service Account
          td= link.corporateUsername
        if link.serviceAccountMail
          td Contact e-mail
          td= link.serviceAccountMail
      tr
        td GitHub account
        td= link.thirdPartyUsername
      tr
        td Corporate identity
        td= link.corporateUsername

  h3 Important warning
  p GitHub is a social coding platform. Please use common sense while interacting with others, looking to follow best practices for communities and their Code of Conducts.
  p
    strong Accidental credential commits on GitHub are a major risk to Microsoft.
    br
    | Take care to never commit credentials to source code.

  if docs
    if companyName
      h3 #{companyName} open source resources
    else
      h3 Open source resources
    p.
      Take a moment to review the docs at #[a(href=docs) #{docs}]:
    ul
      li Common GitHub questions, policies and resources relating to releasing open source
      li Service account guidance
      li Release information: checklist, review process, how to create new repos
      li Contributor license agreement info

  if companyName
    h3 #{companyName}'s GitHub is for open source
  else
    h3 GitHub is for open source
  p.
    GitHub is for building public open source communities and not for private
    team engineering (#[a(href='https://aka.ms/githubguidelines') guidelines]).
  p.
    If you would like to learn about being an early adopter in the
    #[a(href='https://aka.ms/1es/github/overview') GitHub inside Microsoft program],
    please contact #[a(href='mailto:github-in-msft-qs@microsoft.com') github-in-msft-qs].
