//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends email

block content
  if link.isServiceAccount
    h4 Service Account linked

  h3 Congratulations!
  p Your GitHub account is now linked with your #{companyName || 'corporate'} identity.

  table
    tbody
      if link.isServiceAccount
        tr
          td Service Account
          td= link.corporateUsername
        if link.serviceAccountMail
          td Contact e-mail
          td= link.serviceAccountMail
      tr
        td GitHub account
        td= link.thirdPartyUsername
      tr
        td Corporate identity
        td= link.corporateUsername

  if customStrings && customStrings.linkWarningMessages
    h3 Important notes
    p
      each line of customStrings.linkWarningMessages
        = line
        br

  //- CONSIDER: just reuse configured footer links instead
  if docs
    if companyName
      h3 #{companyName} open source resources
    else
      h3 Open source resources
    p.
      Take a moment to review the docs at #[a(href=docs) #{docs}]:
    ul
      li Common GitHub questions, policies and resources relating to releasing open source
      li Service account guidance
      li Release information: checklist, review process, how to create new repos
      li Contributor license agreement info

  if customStrings
    if customStrings.linkInformationHeading
      h3= customStrings.linkInformationHeading
    if customStrings.linkInformationMessage
      p= customStrings.linkInformationMessage
    if customStrings.linkInformationPolicyLink
      p: a(href=customStrings.linkInformationPolicyLink) GitHub Guidelines for #{companyName || 'the company'}
    if customStrings.linkInformationUrl
      p: a(href=customStrings.linkInformationUrl)= (customStrings.linkInformationUrlTitle || customStrings.linkInformationUrl)
    if customStrings.linkInformationMail
      p: a(href='mailto:' + customStrings.linkInformationMail)= (customStrings.linkInformationMailTitle || customStrings.linkInformationMail)
