//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

footer
  hr
  .container
    if config && config.debug && config.debug.showDebugFooter === true
      .clearfix
      .row.alert-gray(style='padding:12px')
        h6 Instance Configuration
        .col-md-6.col-lg-6
          if correlationId
            h4 Correlation ID: #{correlationId}
          if config && config.authentication.scheme
            h4
              | Primary Authentication: #{config.authentication.scheme === 'github' ? 'GitHub' : 'Azure Active Directory'}
          if config && config.session.encryption !== undefined
            h4
              | Session Encryption: #{config.session.encryption === true ? 'Encrypted' : 'Plain Text'}
          if config && config.github.links.table.encryption !== undefined
            h4
              | Table Encryption: #{config.github.links.table.encryption === true ? 'Encrypted' : 'Plain Text'}
        .col-md-6.col-lg-6(style='background-color:white')
          if serverName
            h4 Hostname: #{serverName}
          if serverAddress
            h4 Server: #{serverAddress}
          if websiteHostname
            h4 Site: #{websiteHostname}
          if config && config.github && config.github.links
            h4
              | Link Provider: #{config.github.links.provider.name}
          if config && config.redis
            h4
              | Redis:&nbsp;
              span.bg-danger(style='color:white;padding:2px')= config.redis.host || config.redis.tls
            h4
              | Redis Prefix: #{config.redis.prefix}
          if config && config.data && config.data.postgres && config.data.postgres.password
            h4
              | PGSQL Database: #{config.data.postgres.host}/#{config.data.postgres.database}
            h4
              | PGSQL User: #{config.data.postgres.user}
            h4
              | PGSQL Pool Size: #{config.data.postgres.max}
          if config && config.github.links.postgres && config.github.links.postgres.tableName
            h4
              | PGSQL Links Table: #{config.github.links.postgres.tableName}
          if config && config.github.links.table
            h4
              | Table:&nbsp;
              span.bg-danger(style='color:white;padding:2px')= config.github.links.table.account
            h4
              | Table Prefix: #{config.github.links.table.prefix}

    .clearfix
    .row(style='margin-bottom:12px')
      if user && user.github && user.github.id
        if config && config.corporate && config.corporate.trainingResources
          - var footres = config.corporate.trainingResources.footer
          if footres
            each categoryList, category in footres
              div.col-md-3.col-lg-3
                h5= category
                ul.list-unstyled.small
                  each item in categoryList
                    li
                      a(href=item.link)= item.title
            div.col-md-3.col-lg-3
              h5(class='pull-right')
                a(href='#top', title=headSha) Back to top
      else
        .col-sm-12.col-md-12.col-lg-12
          h5(class='pull-right')
            a(href='#top', title=headSha) Back to top

    if config && config.continuousDeployment
      .row.small
        .col-sm-6.col-md-6.col-lg-6
          ul.list-inline(style='margin-top: 8px')
            if config.continuousDeployment.version
              li= 'v' + config.continuousDeployment.version
            //- if config.continuousDeployment.commitId
              li= config.continuousDeployment.commitId
            if config.continuousDeployment.build
              li= 'Build ' + config.continuousDeployment.build
            if config.continuousDeployment.release
              li= 'Release ' + config.continuousDeployment.release

    if config && config.corporate && config.corporate.trainingResources && config.corporate.trainingResources['legal-notices']
      - let notices = config.corporate.trainingResources['legal-notices']
      .row.small
        .col-sm-6.col-md-6.col-lg-6
          ul.list-unstyled(style='margin-top: 8px')
            each noticeEntry in notices
              li: strong: a(href=noticeEntry.link)= noticeEntry.title

    .row.small
      .col-sm-6.col-md-6.col-lg-6
        .clearfix
          if config && config.brand && config.brand.supportMail
            ul.list-inline(style='margin-bottom: 0px')
              li: a(href='mailto:' + config.brand.supportMail) Contact site administrator
              li: a(href='https://github.com/NIHGOV/github-portal', target='_new') Contribute to this site on GitHub
        if serverName && correlationId
          | Powered by&nbsp;
          a(href='https://github.nih.gov/about/credits' target="_blank") great open source,&nbsp;
          span(title=correlationId + ' ' + serverName) Microsoft Azure,&nbsp;
          | and the GitHub API
        else
          | Powered by <a href='https://github.nih.gov/about/credits' target="_blank">great open source</a>, Microsoft Azure, and the GitHub API
      .col-sm-6.col-md-6.col-lg-6
        .pull-right.text-right
          a#microsoftFooterLogo(href=(config && config.brand ? config.brand.companyLink : 'about:blank'), title=(config && config.brand ? config.brand.companyName : ''))
            img(src='/img/logo.png', alt=(config && config.brand ? config.brand.companyName : ''), style='max-height:23px')
          | &nbsp;
    .row
       div(style='margin-bottom: 30px')
