//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends layout

block js_doc_ready
  | try {
  | if (initializeManageFilter !== undefined) { initializeManageFilter() }
  | if (initializeMembershipFilter !== undefined) { initializeMembershipFilter() }
  | } catch(ex) {};

block content
  - var overview = accountInfo ? accountInfo.overview : null
  div.container
    if onboarding === true
      .div.col-md-7
        if user && user.azure
          h1 Welcome, #{user.azure.displayName || user.azure.username}
        else
          h1 Welcome
    else
      //h1
        | Open Source Portal&nbsp;
        small for GitHub
    div.col-md-7
      if accountInfo && onboarding !== true
        if accountInfo.isLinkedUser !== false && accountInfo.twoFactorOn === true
          // No longer showing this UI on the homepage for good states
        else
          div.container
            div.row(style='margin-top:16px')
              // linked membership
              div.col-md-4.col-lg-4.col-sm-4
                if accountInfo.isLinkedUser !== false
                  div.metro-box.ms-blue
                    a(href='/unlink')
                      h3 Linked Identity
                      p= config.brand.companyName.toUpperCase()
                else
                  div.metro-box.ms-light-gray
                    a(href='/link')
                      h3 Not linked
                      p= config.brand.companyName.toUpperCase()
              // 2-factor authentication
              if accountInfo.twoFactorOff === true || accountInfo.twoFactorOn === true
                div.col-md-4.col-lg-4.col-sm-4
                  if accountInfo.twoFactorOff === true
                    div.metro-box.ms-red
                      a(href=activeOrgUrl + 'security-check')
                        h3 2FA
                        p AT RISK
                  else if accountInfo.twoFactorOn === true
                    div.metro-box.ms-green
                      a(href=activeOrgUrl + 'security-check')
                        h3 2-factor auth
                        p PROTECTED

      if onboarding !== true && overview && overview.organizations && (overview.organizations.in && overview.organizations.in.length)
        h1
          a.a-unstyled(name='orgs') Your #{config.brand.companyName} GitHub organization memberships
      else
        h4 You've successfully linked your #{config.brand.companyName} and GitHub accounts.

      - var currentPriority = ''
      - var oom = overview && overview.organizations ? overview.organizations.in : []
      each o in oom
          div.link-box
            a(href=o.name + onboardingPostfixUrl)
              h2: strong= o.name
                //-else if o.membershipStateTemporary === 'pending'
                  small
                    span.label.label-danger Membership pending
              if o.description
                p.lead= o.description

      if onboarding === true
        h3 Your onboarding progress
        h5
          | Sign in to your GitHub &amp; #{config.brand.companyName} accounts&nbsp;
          i.glyphicon.glyphicon-ok
        h5
          | Link your accounts&nbsp;
          i.glyphicon.glyphicon-ok
        h5.text-primary
          strong Join your first GitHub organization
        h5
          | Profile review #[small: em optional]
        h5
          | Publish your membership #[small: em optional]
        h5
          | Join a team #[small: em optional]

      //-if accountInfo.isSudoer
        h1 Organization Administration
        p Your account is a delegate administrator for the organization. You have additional capabilities enabled to help ensure the health of the organization.
        p
          a.btn.btn-default(href='/organization') Organization Delegate Dashboard

      - var otm = overview && overview.teams ? overview.teams.maintainer : []
      if otm
        if accountInfo.pendingApprovals && accountInfo.pendingApprovals.length && accountInfo.pendingApprovals.length > 0
          hr
          h1 Approvals: Please Review
          p
            a.btn.btn-default(href='/settings/approvals/') See all pending approvals (#{accountInfo.pendingApprovals.length})

        if overview && overview.teams && overview.teams.maintainer && overview.teams.maintainer.length
          hr
          h1 Teams you maintain
          script(type='text/javascript').
            function initializeManageFilter() {
              var inputManageFilter = $('#manage-filter');
              if (inputManageFilter) {
                inputManageFilter.keyup(function () {;
                  $.uiTableFilter($('table#manage-table'), this.value, ['Title', 'Organization', 'GitHub name']);
                });
              }
            }
          //-div.container
          div
            table.table#manage-table
              thead
                tr
                  th(colspan='2')
                    form#manage-filter-form
                      input.form-control#manage-filter(name='filter', placeholder='Filter teams I manage', type='text')
                  th
                    p
                      i.glyphicon.glyphicon-search
                tr
                  th GitHub name
                  th Organization
                  th Actions
              tbody
                each team in overview.teams.maintainer
                  tr
                    td
                      a.btn.btn-sm.btn-muted(href='/' + team.organization.name + '/teams/' + team.slug)= team.name
                    td.twentypercent= team.organization.name
                    td.thirtypercent
                      ul.list-unstyled
                        li: a.btn.btn-sm.btn-default(href='/' + team.organization.name + '/teams/' + team.slug) Manage
                        //-li: a.btn.btn-sm.btn-muted(href='https://github.com/orgs/' + team.organization.name + '/teams/' + team.slug, target='_new') GitHub

      if accountInfo.isLinkedUser && onboarding !== true
        if overview && overview.teams && overview.teams.member && overview.teams.member.length > 0
          hr
          h1 Team memberships
          p Here are teams that you are a member of but not a maintainer of.
          script(type='text/javascript').
            function initializeMembershipFilter() {
              var inputMembershipFilter = $('#membership-filter');
              if (inputMembershipFilter) {
                inputMembershipFilter.keyup(function () {;
                  $.uiTableFilter($('table#membership-table'), this.value, ['Team', 'Organization']);
                });
              }
            }
          table.table#membership-table
            thead
              tr
                th(colspan='2')
                  form#membership-filter-form
                    input.form-control#membership-filter(name='filter', placeholder='Filter my teams', type='text')
                th
                  p
                    i.glyphicon.glyphicon-search
              tr
                th Team
                th Organization
                th Actions
            tbody
              each team in overview.teams.member
                if team.id && accountInfo.teamsMaintainedHash && accountInfo.teamsMaintainedHash[team.id] !== undefined
                  // Skipping this team since they are already maintaining it
                else
                  tr
                    td
                      a.btn.btn-sm.btn-muted(href='/' + team.organization.name + '/teams/' + team.slug, target='_new')= team.name
                      //-a.btn.btn-sm.btn-muted(href='https://github.com/orgs/' + team.organization.name + '/teams/' + team.slug, target='_new')= team.name
                    td.twentypercent= team.organization.name
                    td.twentypercent
                      p
                        if config.github.teamEveryoneId == team.id
                          a.btn.btn-default.btn-sm(href='/' + team.organization.name + '/leave') Leave Organization
                        else
                          //-a.btn.btn-default.btn-sm(href='https://github.com/orgs/' + team.organization.name + '/teams/' + team.slug, target='_new')
                          a.btn.btn-default.btn-sm(href='/' + team.organization.name + '/teams/' + team.slug, target='_new')
                            | Open on GitHub
          //- The user will get a better experience joining teams if they go through the organization onboarding first.
          //-p
            a.btn.btn-default(href='/teams')= (accountInfo.userTeamMemberships && accountInfo.userTeamMemberships.length && accountInfo.userTeamMemberships.length > 0) ? 'Join another team' : 'Join a team'
        else
          //-p You are not currently a member of any GitHub teams that grant you permission to specific repositories. Note that this display is cached and may not be up-to-date.

      if overview && overview.organizations && overview.organizations.available && overview.organizations.available.length
        hr
        h2 Available #{config.brand.companyName} GitHub organizations

        if onboarding === true
          .alert.alert-gray(style='color:#000')
            strong Please join your first corporate GitHub org.
            br
            | Your link lets us know who you are, but there is more to be done.
            br
            br
            | The company has many official GitHub orgs. You can choose which you would like to join from the list below.
            br
            br
            | Most users join the official #{config.brand.companyName} org to participate in that great open source community.
        else
          p These are GitHub organizations that you are not a member of.

        .right

          - var currentPriority = ''
          if groupedAvailableOrganizations
            each list, groupType in groupedAvailableOrganizations
              if groupType === 'secondary'
                hr
                h5 Additional Organizations
                p.small The following organizations are specialized for specific teams and projects, but not general-purpose membership. Please only join if you have a business need.
              each o in list
                //-if o.membershipStateTemporary !== 'active' && o.membershipStateTemporary !== 'pending'
                if o.priority !== currentPriority
                  - currentPriority = o.priority
                  //-if currentPriority == 'secondary'
                //-if o.locked === true // o.membershipStateTemporary !== 'active'
                if o.hidden === true
                  //- Do not show by invitation only orgs at this time
                else
                  div.link-box
                    a(href='/' + o.name + '/join' + onboardingPostfixUrl)
                      if groupType === 'secondary'
                        h6.text-muted
                          strong(style='text-decoration: underline')= o.name
                          = ' '
                          small: span.label.label-muted 
                            if o.locked === true
                              | By invitation only
                            else
                              | Open to all
                        if true || onboarding === true
                          p: small= o.nativeUrl
                        p.small.text-mute= o.description
                      else
                        h4
                          span(style='text-decoration: underline')= o.name
                          = ' '
                          small: span.label.label-primary Join
                        if true || onboarding === true
                          p: small= o.nativeUrl
                        p.small(style='color:#333')= o.description

    div.col-md-5

      if config && config.news && config.news.homepage && Array.isArray(config.news.homepage) && config.news.homepage.length
        h2 What's New?
        each story in config.news.homepage
          if story.link
            h3: a(href=story.link)= story.title
          else
            h3= story.title
          if story.subtitle
            h4= story.subtitle
          if story.paragraphs
            each paragraph in story.paragraphs
              p= paragraph
          if story.actions
            ul.list-unstyled
              each action in story.actions
                if action.link
                  li: a(href=action.link)= action.text
                else
                  li= action.text

        if config.news.all && config.news.all.length > config.news.homepage.length
          hr
          p: a(href='/news') More news...
