//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= (user && user.primaryUsername) ? title + ' - ' + user.primaryUsername : title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Microsoft Open Source')
    link(href='/css/bootstrap.min.css?1', rel='stylesheet')
    link(href='/repos-css/oss.css?2b', rel='stylesheet')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', sizes='114x114,72x72,144x144,60x60,120x120,76x76,152x152,180x180', href='/favicon-144.png')
    meta(name='msapplication-config', content='none')
    //[if lt IE 9]
      <script src="https://ajax.aspnetcdn.com/ajax/respond/1.4.2/respond.min.js"/>
      [endif]
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/timeago.js')
    script(type='text/javascript', src='/js/jquery.uitablefilter.js')
    | <script type='text/javascript'>
    | $(document).ready(function() {
    block js_doc_ready
    | jQuery('time').timeago();
    if alerts
      each alert in alerts
        | setTimeout(function () {$('#layout-alert-#{alert.number}').alert('close');}, 8000 * #{alert.number});
    | });
    | </script>
  body
    if alerts || serviceBanner || sudoMode
      div.alerts
        if sudoMode
          div.alert(id='sudo-banner', class='alert-danger')
            div.container
              h3 Organization Sudoer
              p You are currently authorized on this page via your sudo capabilities as an organization administrator.
        if serviceBanner
          div.alert(id='service-banner', class='alert-info', role='alert')
            button.close(type='button', data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
            div.container
              h3 Service Alert
              h4= serviceBanner
        if alerts
          each alert in alerts
            div.alert(id='layout-alert-' + alert.number, class='alert-' + (alert.context ? alert.context : 'info'), role='alert')
              button.close(type='button', data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
              div.container
                if alert.title
                  h3= alert.title
                h4= alert.message
                if alert.optionalLink
                  p
                    a.btn.btn-muted(href=alert.optionalLink, title=alert.optionalLink)= alert.optionalCaption ? alert.optionalCaption : alert.optionalLink
    div.navbar.navbar-default.second-row-nav
      div.container
        div.navbar-header
          //-button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.nav-collapse')
          //-button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //- a.navbar-brand(href='./')= page.folderMetadata.title
        //nav.collapse.navbar-collapse.nav-collapse(role='navigation')
        nav(role='navigation')
          div.container(style='margin-top:24px;margin-bottom:12px')
            div.row(style=(user && !error && ossLink) ? 'margin-left:0' : 'margin-left:-30px')
              - var githubSignout = user && user.githubSignout ? user.githubSignout : '/signout'
              - var azureSignout = user && user.azureSignout ? user.azureSignout : '/signout'
              div.col-md-6
                if user && user.github
                  h4 Your GitHub Account
                else
                  h4 GitHub Account
                if user && user.github
                  p
                    if user.github && user.github.avatarUrl
                      img(alt=user.github.displayName, src=user.github.avatarUrl + '&s=80', style='margin-right:10px;width:30px;height:30px', data-user=user.github.id)
                    a.btn.btn-sm.btn-muted(href='https://github.com/settings/profile', target='_new', title='Click to edit your public GitHub profile')= user.github.username
                    a.btn.btn-sm.btn-muted-more(href='https://github.com/settings/profile', target='_new', title='Click to edit your public GitHub profile')= user.github.displayName || user.github.username
                    if primaryAuthenticationScheme == 'github'
                      a.btn.btn-sm.btn-white(href=githubSignout, style='margin-left:10px') Sign Out
                    else
                      a.btn.btn-sm.btn-white(href='/link/update', style='margin-left:10px') Change
                else
                  p
                    if primaryAuthenticationScheme == 'github'
                      small Sign in or create your GitHub.com account to manage your #{config && config.companyName || 'corporate'} open source identity
                    else
                      small Sign in to GitHub
                  p
                    a.btn.btn-sm.btn-primary(href='/signin/github') Sign in
              div.col-md-6
                if user && !error
                  if ossLink
                    h4 Your #{config && config.companyName ? config.companyName : 'Corporate'} Identity
                    p
                      if ossLink.aadname
                        a.btn.btn-sm.btn-muted(href='/signin/azure')= ossLink.aadname
                      a.btn.btn-sm.btn-muted-more(href='/signin/azure')= ossLink.aadupn
                      if primaryAuthenticationScheme == 'github'
                        a.btn.btn-sm.btn-white(href='/link/update', style='margin-left:10px') Change
                      else
                        a.btn.btn-sm.btn-white(href=azureSignout, style='margin-left:10px') Sign Out
                  else if user.azure
                    //- NOTE: This is actually visually backward from the above link display...
                    h4 Your #{config && config.companyName ? config.companyName : 'Corporate'} Identity
                    p
                      if user.azure.username
                        a.btn.btn-sm.btn-muted(href=azureSignout)= user.azure.username
                      if user.azure.displayName
                        a.btn.btn-sm.btn-muted-more(href='/signout/azure')= user.azure.displayName
                      a.btn.btn-sm.btn-white(href=azureSignout, style='margin-left:10px') Sign Out
    //- Just show breadcrumbs when there is an interesting path available
    if showBreadcrumbs === true && breadcrumbs && breadcrumbs.length && breadcrumbs.length > 1
      div.container
        ol.breadcrumb
          each crumb in breadcrumbs
            li
              if crumb.isLast === true || crumb.url === false
                span.capitalize= crumb.title
              else
                a.capitalize(href=crumb.url)= crumb.title

    // content
    block content
    // end of content

    footer.wiki-footer
      hr
      div.container
        div
          p(class='pull-right')
            a(href='#top', title=headSha) Back to top
            if ! user
              |  &middot;
              a(href='/signin/github') Sign In
        if config && config.showDebugFooter === true
          div.clearfix
          div.row.alert-gray(style='padding:12px')
            h6 Instance Configuration
            div.col-md-6.col-lg-6
              if correlationId
                h4 Correlation ID: #{correlationId}
              if serverName
                h4 Hostname: #{serverName}
              if config && config.applicationInsights && config.applicationInsights.instrumentationKey
                h4 AppInsights: Instrumented
              if config && config.primaryAuthenticationScheme
                h4
                  | Primary Authentication: #{config.primaryAuthenticationScheme === 'github' ? 'GitHub' : 'Azure Active Directory'}
            div.col-md-6.col-lg-6(style='background-color:white')
              if config && config.azureStorage
                h4
                  | Storage:&nbsp;
                  span.bg-danger(style='color:white;padding:2px')= config.azureStorage.account
                h4
                  | Storage Prefix: #{config.azureStorage.prefix}
              if config && config.redis
                h4
                  | Redis:&nbsp;
                  span.bg-danger(style='color:white;padding:2px')= config.redis.host
                h4
                  | Redis Prefix: #{config.redis.prefix}
        if user && user.github && user.github.id
          if config && config.corporate && config.corporate.trainingResources
            - var footres = config.corporate.trainingResources.footer
            if footres
              div.clearfix
              div.row(style='margin-bottom:24px')
                each categoryList, category in footres
                  div.col-md-3.col-lg-3
                    h5= category
                    ul.list-unstyled
                      each item in categoryList
                        li
                          a(href=item.link)= item.title
          div.clearfix
            p
              small It is important to note that uptime of this service is dependent on GitHub's API availability and rate limit.
            ul.list-inline
              if config && config.corporate && config.corporate.portalAdministratorEmail
                li
                  a(href='mailto:' + config.corporate.portalAdministratorEmail) Contact Portal Administrator
                li
                  a(href='https://github.com/azure/azure-oss-portal', target='_new') Contribute to this portal on GitHub
        div
          p
            small
              | &copy; #{config && config.companyName ? config.companyName : ''}
              br
              if serverName && correlationId
                | Powered by&nbsp;
                span(title=correlationId + ' ' + serverName) Microsoft Azure,&nbsp;
                a(href='/thanks') great open source&nbsp;
                | and the GitHub API
              else
                | Powered by Microsoft Azure,&nbsp;
                a(href='/thanks') great open source&nbsp;
                | and the GitHub API

    if (appInsightsKey)
      script(type='text/javascript').
        var appInsights=window.appInsights||function(config){function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t}({instrumentationKey:"#{appInsightsKey}"});window.appInsights=appInsights;appInsights.trackPageView();
