//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends layout

block content
  div.container
    h2 GitHub Cleanup
    p.lead You need to unlink #{numberToRemove == 1 ? 'a' : numberToRemove} GitHub account#{numberToRemove == 1 ? '' : 's'}
    p.
      Please remove the accounts that you are not using for
      corporate work at this time. <strong>Removed accounts
      will lose access to any private repositories.</strong>
    div.row
      each column in linksForCleanupByColumn
        div.col-sm-6.col-md-6.col-lg-6
          each link in column
            div.metro-box.ms-blue
              a(target='_new', href='https://github.com/' + link.ghu)
                h3= link.ghu
                p GitHub Account
                if link.joinedDate
                  h5
                    | Linked&nbsp;
                    time(datetime=link.joinedDate.toISOString())= link.joinedDate.toDateString()

    if config && config.corporate && config.corporate.portalAdministratorEmail
      hr
      p
        | If you have any questions, please ping &nbsp;
        a.btn.btn-sm.btn-muted(href='mailto:' + config.corporate.portalAdministratorEmail)= config.corporate.portalAdministratorEmail
