//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

block content
  - var octicon = viewServices.octicon

  .container
    h5 CONFIDENTIAL - ADMINISTRATOR ACCESS ONLY
    p Currently eligible corporate users to vote in the contribution system  are listed below.

    p
      | Start time: #{start}
      br
      | End time: #{end}
    
    p Links not service accounts: #{linksCount}
    p FTE links: #{fte}
    p Public FTE: #{pFte}
    p Percent of FTE and interns here: #{count / fte}%
    p Percent of FTE and interns divided by public: #{count / pFte}%
    p No longer linked public data set #{noLongerLinked}

    hr

    if count === 0
      p No eligible users.
    else
      p= count + ' eligible users'

      .row
        each column in eligibleByColumn
          .col-md-4
            ul.list-unstyled
              each user in column
                li: ul.list-inline
                  li: a(href='https://github.com/' + user.thirdPartyUsername, target='_new')
                    img(alt=user.thirdPartyUsername, src=user.thirdPartyAvatar, style='width:22px;height:22px', width=22, height=22)
                  li: a(href='/contributions?login=' + user.thirdPartyUsername, target='_new')= user.corporateDisplayName
