
//- Renders repository owners card
//- admins: user object with login, avatar_url, and adminType which is one of "Admin" or "Org Admin"
//- maxCards: Maximum number of cards to render
mixin repositoryAdminCards(admins, maxCards = 5)
    ul.list-unstyled
      - var cardsToShow = Math.min(admins.length, maxCards)
      - for (var i = 0; i < cardsToShow; i++)
        - var admin = admins[i]
        li(style='vertical-align:top;width:370px')
        ul.list-inline
          if admin.avatar_url
            li(style='vertical-align:top;margin-top:12px;padding-right:3px'): img(
              alt=admin.login,
              src=admin.avatar_url + '&s=96',
              style='width:36px;height:36px;')
          li
            ul.list-unstyled(style='margin-right:16px')
              li: h5(style='margin-bottom:.3em')
                a(href='/people?q=' + admin.login)= admin.login
                - var title = admin.adminType == "Org Admin" ? organization.name + ' organization owner' : repo.name + 'direct repo owner'
                  .label.label-info(title=title, style='margin-left: 5px; cursor: default')= admin.adminType
