//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../../layout

block content
  div.container

    if metadata.type !== 'repo'
      h1
        | Request to join
        | &nbsp;
        small.capitalize= metadata.teamName
    else if metadata.type == 'repo'
      h1.capitalize
        | New #{metadata.org} Repo Request
        | &nbsp;
        small.capitalize= metadata.repositoryName

    if metadata.type == 'repo' && metadata.initialRepositoryVisibility == 'public'
      p
        strong Warning: this is a request for a new public repo which could be immediately visible for the world, journalists, bloggers and more.

    // CONSIDER: Integrate with directory lookup options...
    if metadata.corporateUsername
      p
        a.btn.btn-sm.btn-default(href='mailto:' + metadata.corporateUsername) Send Mail to #{metadata.corporateUsername}

    table.table
      thead
        tr
          th GitHub User
          th Identity
          if metadata.type !== 'repo'
            th Team to join
          else if metadata.type == 'repo'
            th Repo to create
      tbody
        tr
          td
            p
              a.btn.btn-muted.btn-sm(href='https://github.com/' + metadata.thirdPartyUsername, target='_new')= metadata.thirdPartyUsername
          td
            if metadata.corporateUsername
              p
                a.btn.btn-muted.btn-sm(href='mailto:' + metadata.corporateUsername)= metadata.corporateUsername
          if metadata.type !== 'repo'
            td
              p
                if team
                  a(href=team.baseUrl, target='_new')= team.name
          else if metadata.type == 'repo'
            td
              p= metadata.repoName

    if metadata.justification
      h5 BUSINESS JUSTIFICATION & CONTEXT
      blockquote= metadata.justification

    h5 ACTIONS

    if action == 'approve'
      p Please write your comment relating to why this request has been approved. This may be helpful to future administrations to understand whether this user is a member of the team, doing a specific timebound project, or otherwise may or may not have different future needs.
    else
      p To help keep the record straight, please consider noting why this request is being denied. This will be visible to the user who has requested permission, but not recorded in the associated GitHub issue tied to this request.

    form(method='post', action=teamUrl + 'approvals/' + metadata.approvalId)
      p
        textarea.form-control(name='text', rows='3', placeholder='Historical note by ' + user.github.username)
      p
        if action == 'approve'
          input.btn.btn-primary(type='submit', name='approve', value='Approve')
        else
          input.btn.btn-primary(type='submit', name='deny', value='Deny')
        | &nbsp;
        a.btn.btn-default(href='/team/' + metadata.teamId + '/approvals/' + metadata.approvalId) Cancel

    hr

    p
      small Request ID: #{metadata.approvalId}
