//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../../layout

block content
  div.container

    //- This can be used for local debugging if needed:
    //- pre= JSON.stringify(entry, undefined, 2)

    if metadata.type == 'repo'
      if metadata.initialRepositoryVisibility == 'public'
        h1 New public #{metadata.organizationName} Repository Request
      else
        h1 New private #{metadata.organizationName} Repository Request
    else
      h1 Open Source Access Request

    if metadata.active === true
      if metadata.type == 'repo'
        p.lead Please review this repository creation request on behalf of the #{metadata.organizationName} organization.
        p Keep in mind ideal naming patterns and best practices for this organization. Feel free to take the time to communicate with other approvers over e-mail or modify the request prior to creating the repo.
        if metadata.repoVisibility == 'private'
          p Private repositories count against our organization's private repo quota. Consider whether this repo and its business justification imply that the project is heading toward an open source release soon. You may recommend to the maintainer that instead they use a different corporate source control system until ready to go public, for example.
      else
        p.lead Please review this pending permission request
    else
      p.lead This request has already been closed. NO ACTION REQUIRED.
      p
        form(method='post')
          input.btn.btn-sm.btn-default(type='submit', name='reopen', value='Re-open')

    if metadata.created && metadata.created
      p
        | This request was opened by&nbsp;
        a(href='https://github.com/' + metadata.thirdPartyUsername, target='_new')= metadata.thirdPartyUsername
        | &nbsp;
        time(datetime=metadata.created)= metadata.created

    p
      form(method='post', action=teamUrl + 'approvals/' + metadata.approvalId)
        if metadata.active === true
          input.btn.btn-primary.btn-sm(type='submit', name='approve', value='Approve')
          | &nbsp;
          input.btn.btn-sm.btn-default(type='submit', name='approveWithComment', value='Approve with Comment...')
          | &nbsp;
          input.btn.btn-sm.btn-default(type='submit', name='deny', value='Deny...')
          | &nbsp;
          if metadata.type == 'repo'
            a.btn.btn-sm.btn-muted(href=(teamUrl + 'approvals/' + metadata.approvalId + '/edit')) Edit Request as an approver
          else
            // At this time, editing of standard permission requests is not implemented.

    if metadata.decision
      table.table.table-bordered
        thead
          tr
            th Decision Status
            th Decision Made
            th Decision Maker
        tbody
          tr
            td
              if metadata.decision
                p= metadata.decision.toUpperCase()
            td
              if metadata.decisionTime
                p
                  time(datetime=metadata.decisionTime)= metadata.decisionTime
              else
                p Unknown
            td
              p
                if metadata.decisionThirdPartyUsername && metadata.decisionCorporateUsername
                  a(href='mailto:' + metadata.decisionCorporateUsername)= metadata.decisionThirdPartyUsername
                else
                  = metadata.decisionThirdPartyUsername
                  | &nbsp;
                  = metadata.decisionCorporateUsername
          if metadata.decisionMessage
            tr
              td(colspan='3')
                p
                  strong Note by decision maker:
                  br
                  = metadata.decisionMessage

    if metadata.justification
      table.table.table-bordered
        thead
          tr
            th Justification provided by user
        tbody
          tr
            td= metadata.justification

    //- REPO CREATE DETAILS
    if metadata.type == 'repo'
      table.table.table-bordered
        thead
          tr
            th Repo Name
            th Organization
            th Initial Visibility
        tbody
          tr
            td
              p(style='font-size:225%')= metadata.repositoryName
            td
              p= metadata.organizationName
            td
              p
                if metadata.initialRepositoryVisibility == 'public'
                  strong(style='color:red') PUBLIC
                else
                  | Private
      table.table.table-bordered
        thead
          tr
            th Public Repo Description & Optional URL
        tbody
          tr
            td
              if metadata.repoDescription
                p= metadata.repoDescription
              if metadata.repoUrl
                p
                  small
                    a(href=metadata.repoUrl, target='_new')
                      i= metadata.repoUrl

    table.table.table-bordered
      thead
        tr
          if metadata.type !== 'repo'
            th Team Requested
          //-if metadata.issue
            //- NOTE: Commenting out GitHub links with approval repos, since they are being deprecated internally and this is a quick fix
            th GitHub Tracking Issue
      tbody
        tr
          if metadata.type !== 'repo'
            td
              p
                a(href='https://github.com/orgs/' + metadata.organizationName + '/teams/' + metadata.teamName, target='_new')= metadata.teamName
          //-if metadata.issue
            //- NOTE: Commenting out GitHub links with approval repos, since they are deprecated

    table.table.table-bordered
      thead
        tr
          th GitHub Account
          th Corporate Identity
      tbody
        tr
          td
            p
              //- if requestingUser.avatar()
              //-   img(alt=requestingUser.login, src=requestingUser.avatar(80) + '&s=80', style='margin-right:10px;width:30px;height:30px')
              a.btn.btn-sm.btn-muted(href='https://github.com/' + requestingUser.login, target='_new')= requestingUser.login
          td
            p
              if requestingUser.link && requestingUser.corporateAlias()
                if requestingUser.link.aadname
                  a.btn.btn-sm.btn-muted(href=requestingUser.corporateProfileUrl(), target='_new')= requestingUser.link.aadname
                if requestingUser.corporateAlias()
                  a.btn.btn-sm.btn-muted-more(href=requestingUser.corporateProfileUrl(), target='_new')
                    = requestingUser.corporateAlias() + ' '
                    i.glyphicon.glyphicon-share-alt
                else if requestingUser.link.aadupn
                  = requestingUser.link.aadupn
                else
                  | UNKNOWN ALIAS
              | &nbsp;
              if metadata.email
                a.btn.btn-sm.btn-default(href='mailto:' + metadata.email) Send Mail
