//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../../layout

block content
  div.container

    h1 Approvals

    if pendingApprovals && pendingApprovals.length && pendingApprovals.length > 0
      div
        div.container
          each metadata in pendingApprovals
            h3(style='padding-bottom: 16px') Permission requests
            div.row
              div.col-md-4.col-lg-4
                form(method='post', action=teamUrl + 'approvals/' + metadata.approvalId)
                  p
                    //-if metadata.issue
                      //- NOTE: Commenting out GitHub links with approval repos, since they are deprecated
                    a.btn.btn-sm.btn-muted(href=teamUrl + 'approvals/' + metadata.approvalId)
                      i.glyphicon.glyphicon-zoom-in
                      | &nbsp;
                      | Detailed Request
                    if metadata.created
                      | &nbsp; &nbsp;
                      time(datetime=metadata.created)= metadata.created
                  if metadata.active === true
                    h5 ACTIONS
                    p
                      input.btn.btn-sm.btn-default(type='submit', name='approve', value='Approve')
                    p
                      input.btn.btn-sm.btn-primary(type='submit', name='approveWithComment', value='Approve with Comment...')
                    p
                      input.btn.btn-sm.btn-default(type='submit', name='deny', value='Deny...')
              div.col-md-4.col-lg-4
                if metadata.teamName
                  h5 TEAM NAME
                  p
                    a(href='https://github.com/orgs/' + metadata.organizationName + '/teams/' + metadata.teamName, target='_new')= metadata.teamName
                if metadata.justification
                  h5 BUSINESS JUSTIFICATION
                  blockquote
                    =metadata.justification
              div.col-md-4.col-lg-4
                if metadata.corporateUsername
                  h5 CORPORATE IDENTITY
                  p
                    if metadata.corporateUsername
                      a.btn.btn-sm.btn-muted(href='about:blank', target='_new')= metadata.corporateUsername
                    if metadata.corporateDisplayName
                      a.btn.btn-sm.btn-muted-more(href='about:blank', target='_new')
                        = metadata.corporateDisplayName + ' '
                        i.glyphicon.glyphicon-share-alt
                if metadata.thirdPartyUsername
                  h5 GITHUB PROFILE
                  p
                    a.btn.btn-sm.btn-muted(href='https://github.com/' + metadata.thirdPartyUsername, target='_new')= metadata.thirdPartyUsername
                if metadata.email
                  h5 EMAIL
                  //- TODO: This is actually a upn not email
                  p
                    a.btn.btn-sm.btn-muted-more(href='mailto:' + metadata.corporateUsername)= metadata.corporateUsername ? metadata.corporateUsername : 'Unknown'
                    | &nbsp;
                    a.btn.btn-sm.btn-default(href='mailto:' + metadata.corporateUsername) Send Mail
    else
      p No pending approvals. Nice work!