//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

block content
  div.container
      h2 Link editor
      form(method='post', action='/organization/whois/link/' + (query.link && query.link.id || ""))
        p Link ID #{query.link ? query.link.id : "None"}
        p.text-danger Careful: this data is not validated on save
        h6 Corporate ID
        input.form-control(type='text', name='corporateId', value=query.link && query.link.corporateId)
        h6 Corporate username
        input.form-control(type='text', name='corporateUsername', value=query.link && query.link.corporateUsername)
        h6 Corporate display name
        input.form-control(type='text', name='corporateDisplayName', value=query.link && query.link.corporateDisplayName)
        h6 GitHub username
        input.form-control(type='text', name='thirdPartyUsername', value=query.link && query.link.thirdPartyUsername || query.gitHubUserInfo.login)
        h6 GitHub user ID
        input.form-control(type='text', name='thirdPartyId', value=query.link && query.link.thirdPartyId || query.gitHubUserInfo.id)
        h6 GitHub user avatar
        input.form-control(type='text', name='thirdPartyAvatar', value=query.link && query.link.thirdPartyAvatar || query.gitHubUserInfo.avatar_url)
        h6 Service account designation
        input.form-control(type='checkbox', name='isServiceAccount', value='yes', checked=query.link && query.link.isServiceAccount)
        h6 Service account mail
        input.form-control(type='text', name='serviceAccountMail', value=query.link && query.link.serviceAccountMail)
        p &nbsp;
        p
          input.btn.btn-default(type='submit', value=(query.link ? 'Save' : 'Create') + ' link', name='save-link')
