//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../../layout

block content
  div.container

    p
      a.btn.btn-sm.btn-default(href='/') Back

    if info && info.renamedUserMessage
      .alert.alert-warning
        h3 Renamed user
        p.lead= info.renamedUserMessage

    if query
      h5 Query by:
      h6= query.queryByType + ' ' + query.queryByValue
      if query.link
        h2 Linked corporate user
        if query.link.id
          h6= 'Link: ID=' + query.link.id
        h5= 'Corporate: ID=' + query.link.corporateId + ', username=' + query.link.corporateUsername
        h5= 'GitHub ID=' + query.link.thirdPartyId + ', login=' + query.link.thirdPartyUsername
        if query.link.isServiceAccount
          h5= 'YES, a service account'
        else
          h5= 'Not a Service Account'

    if query && query.deletedGitHubUserOutcome
      h2.text-danger WARNING: Deleted GitHub account
      h4= query.deletedGitHubUserOutcome

    if query && query.renamedGitHubUserOutcome
      h2.text-danger WARNING: Renamed GitHub username in play
      h4= 'GitHub Account: ' + query.renamedGitHubUserOutcome.username
      p= query.renamedGitHubUserOutcome.message

    if query && query.gitHubUserInfo
      - var qg = query.gitHubUserInfo

      h1
        = qg.login
        if query.link && query.link.isServiceAccount
          = ' '
          .label.label-warning Service account

      if query.link
        p Here is the information we have on this user. This user has a #[strong link].
      else
        p Here is the information we have on this user. This user does not appear to be linked at this time.
        
      - var rg = query.realtimeGraph
        .col-md-6
          if query && query.managerInfo && query.managerInfo.managerId
            h5 MANAGER
            ul
              if query.managerInfo.managerDisplayName
                li= 'Name: ' + query.managerInfo.managerDisplayName
              if query.managerInfo.managerMail
                li= 'Mail: ' + query.managerInfo.managerMail
          h5 REAL-TIME MICROSOFT GRAPH
          p
            small Includes service accounts
          if rg
            .alert.alert-success
              h3 Account exists by ID
              if rg.displayName
                h4= rg.displayName
              ul
                li AAD ID: #{rg.id}
                if rg.mail
                  li Corporate mail: #{rg.mail}
                if rg.userPrincipalName
                  li UPN: #{rg.userPrincipalName}

            if rg.manager
              h4 Manager: #{rg.manager.displayName}
              ul
                li AAD ID: #{rg.manager.id}
                if rg.manager.mail
                  li Corporate mail: #{rg.manager.mail}
                if rg.manager.userPrincipalName
                  li UPN: #{rg.manager.userPrincipalName}
            else if info && info.serviceAccount
              .alert.alert-success
                h4 No manager in the graph
                p This account has no manager. It is properly marked as a "Service Account"
            else
              .alert.alert-warning
                h4 No manager in the graph
                p This account has no manager. It is likely a Service Account.

          else

            if query.realtimeGraphError
              h4 Graph lookup returned an error
              if query.realtimeGraphError.status && query.realtimeGraphError.status == '404'
                .alert-danger: h5 The user could not be found in the directory graph by corporate user ID
              else
                h5.text-danger= query.realtimeGraphError.toString()

            else
              p No graph results or ability to lookup.

      table.table
        thead
          tr
            th GitHub Username
            th GitHub User ID
        tbody
          tr
            td
              p
                a.btn.btn-muted-more.btn-sm(href='https://github.com/' + query.gitHubUserInfo.login, target='_new')= query.gitHubUserInfo.login
            td= query.gitHubUserInfo.id

      if query.link && query.link.corporateUsername
        h2 #{config.brand.companyName} Linked Corporate ID
        table.table
          thead
            tr
              th Name
              th Email
          tbody
            tr
              td= query.link.corporateDisplayName
              td
                a.btn.btn-sm.btn-muted-more(href='mailto:' + query.link.corporateUsername)= query.link.corporateUsername
      hr

      //- not used
      if info.foundGitHubId
        pre= JSON.stringify(info.foundGitHubId, undefined, 2)

    if query && query.orgs
      h1 Active GitHub Organization Memberships
      .container
        if query.orgs.length <= 0
          p No memberships.
        else
          each org in query.orgs
            .row
              .col-md-4
                p.lead= org.name
              .col-md-4
                p
                  a.btn.btn-sm.btn-muted(target='_new', href='https://github.com/orgs/' + org.name + '/people?utf8=%E2%9C%93&query=' + query.gitHubUserInfo.login) View #{query.gitHubUserInfo.login} in GitHub people list

      - var ghLogin = (query.gitHubUserInfo ? query.gitHubUserInfo.login : null) || (info && info.githubInfoButNoLink ? info.githubInfoButNoLink.login : 'UNKNOWN THIS IS A BUG')
      form(method='post', action=postUrl || '/organization/whois/github/' + ghLogin)
        if query.orgs.length && query.orgs.length > 0
          h1 Actions
          p.lead DANGER ZONE - NO CONFIRMATION
          p
            input.form-control(type='checkbox', name='dataTerminated', value='yes')
            | as data terminated
          ul.list-inline
            li
              input.btn.btn-danger(type='submit', value=query.gitHubUserInfo && query.gitHubUserInfo.login ? 'Remove link + drop from ' + query.orgs.length + ' orgs' : 'Drop from ' + query.orgs.length + ' orgs', name='remove-all')
            if query.link && !query.link.isServiceAccount
              li
                input.btn.btn-default(type='submit', value='Mark as Service Account', name='mark-as-service-account')
            if query.link && query.link.isServiceAccount
              li
                input.btn.btn-default(type='submit', value='Remove Service Account designation', name='unmark-service-account')
        else if query.link && query.link.thirdPartyId
          p <strong>NOTE:</strong> This user is not currently a member of any organizations. However, the "link" with their previous account still exists.
          h1 Actions
          p.lead DANGER ZONE - NO CONFIRMATION
          p
            input.btn.btn-danger(type='submit', value='Remove link', name='remove-link-only')

    if query && query.collaboratorRepositories && query.collaboratorRepositories.length
      h2 Active individual Collaborator permissions on repos
      ul
        each cr in query.collaboratorRepositories
          li= cr

    if query && query.link
      hr
      include ./linkEditor
