//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../../layout

block content
  div.container

    p
      a.btn.btn-sm.btn-default(href='/') Back

    if info && info.ghu && info.ghid

      h1 WHOIS #{info.ghu}

      p Here is the information we have on this user. There is at least a "link" (association) present.

      table.table
        thead
          tr
            th GitHub Username
            th GitHub User ID
        tbody
          tr
            td
              p
                a.btn.btn-muted(href='https://github.com/' + info.ghu, target='_new')= info.ghu
            td= info.ghid

      if info.aadupn
        h2 #{config.companyName} Azure Active Directory Association
        table.table
          thead
            tr
              th Name
              th Email
          tbody
            tr
              td= info.aadname
              td
                a.btn.btn-muted(href='mailto:' + info.aadupn)= info.aadupn
      hr

      //- not used
      if info.foundGitHubId
        pre= JSON.stringify(info.foundGitHubId, undefined, 2)

      if info.orgs
        each org in info.orgs
          h2 Member of #{org.name} organization

        form(method='post', action=postUrl || '/organization/whois/github/' + info.ghu)
          if info.orgs.length && info.orgs.length > 0
            p
              input.btn.btn-default(type='submit', value='Remove user association and remove from all organizations', name='remove-all')
          else
            p <strong>NOTE:</strong> This user is not currently a member of any organizations. However, the "link" with their previous account still exists. Consider removing this.
            p
              input.btn.btn-default(type='submit', value='Remove user association (link)', name='remove-link-only')
    else if info.githubInfoButNoLink
      
      h1 WHOIS #{info.githubInfoButNoLink.login}

      p This user is a GitHub member but is NOT in the system with a valid "link". Consider removing from the primary organization. At this time, the tooling is not looking at sub-organization membership (yet).

      form(method='post', action=postUrl || '/organization/whois/github/' + info.ghu)
        p
          input.btn.btn-default(type='submit', value='Drop from primary org', name='remove-primary-org')

      //-pre= JSON.stringify(info.githubInfoButNoLink, undefined, 2)

    else
      h1 We don't know who that is in relation to this system!
      ul
        li No "link" present currently
        li Not a member of any of the official organizations at this time based on GitHub API data
