//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

block js_doc_ready
  | if (typeof initializeManageFilter == 'function') { initializeManageFilter(); }
  | if (typeof initializeMembershipFilter == 'function') { initializeMembershipFilter(); }

block content
  div.container

    h1
      span.capitalize= org.name + ' '
      small Organization

    div.container
      div.row(style='margin-top:16px')
        div.col-md-3.col-lg-3
          div.metro-box(class=accountInfo.isMembershipPublic === true ? 'ms-green' : 'ms-yellow')
            a(href=org.baseUrl + 'membership')
              if accountInfo.isMembershipPublic === true
                h3 Public Member
              else
                h3 Concealed
              p= org.name.toUpperCase() + ' ORGANIZATION'
        div.col-md-3.col-lg-3
          div.metro-box.ms-blue
            a(href=org.baseUrl + 'teams')
              h3 Join a team
              p REQUEST ACCESS
        div.col-md-3.col-lg-3
          div.metro-box.ms-purple
            a(href='https://github.com/orgs/' + org.name + '/new-team', target='_new')
              h3 Create a team
              p NEW TEAM
        div.col-md-3.col-lg-3
          div.metro-box.ms-dark-blue
            a(href=org.baseUrl + 'new-repo')
              h3 Create a repo
              p REQUEST A NEW REPO
      div.row(style='margin-top:16px')
        div.col-md-3.col-lg-3
          if accountInfo.isMembershipPublic === true
            p Your membership is public and appears on your GitHub profile.
          else
            p Consider <a href="#{org.baseUrl}membership">taking your membership public</a> to help support our open source cause!
        div.col-md-3.col-lg-3
          p Request to join a team. Teams have permissions to a set of repos.
        div.col-md-3.col-lg-3
          p Create a team for new projects / assigning group permissions.
        div.col-md-3.col-lg-3
          p Request a new repo for your project.

      if accountInfo.isSudoer
        h2 SUDO
        p Your account has sudoer rights for this organization. You have additional capabilities enabled to help ensure the health of the organization, its teams and repos. Please use care.

      if accountInfo.teamsMaintained && accountInfo.teamsMaintained.length && accountInfo.teamsMaintained.length > 0
        if accountInfo.pendingApprovals && accountInfo.pendingApprovals.length && accountInfo.pendingApprovals.length > 0
          h2 Pending Approvals
          p
            a.btn.btn-default(href='./approvals/') See all pending #{org.name} approvals (#{accountInfo.pendingApprovals.length})
        if accountInfo.teamsMaintained
          h2.capitalize #{org.name} Teams You Maintain
          script(type='text/javascript').
            function initializeManageFilter() {
              var inputManageFilter = $('#manage-filter');
              if (inputManageFilter) {
                inputManageFilter.keyup(function () {;
                  $.uiTableFilter($('table#manage-table'), this.value, ['Title', 'Organization', 'GitHub Name']);
                });
              }
            }
          div.container
            table.table#manage-table
              thead
                tr
                  th(colspan='1')
                    form#manage-filter-form
                      input.form-control#manage-filter(name='filter', placeholder='Filter teams I manage', type='text')
                  th
                    p
                      i.glyphicon.glyphicon-search
                tr
                  th GitHub Name
                  // th Organization
                  th.thirtypercent Manage
              tbody
                each team in accountInfo.teamsMaintained
                  tr
                    td
                      a.btn.btn-sm.btn-muted(href=org.baseUrl + 'teams/' + team.slug + '/')= team.name
                    // td= team.org.name
                    td.thirtypercent
                      p
                        a.btn.btn-sm.btn-default(href=org.baseUrl + 'teams/' + team.slug + '/') Manage Team

      if accountInfo && accountInfo.membershipStatus === 'active' && accountInfo.isMembershipPublic !== true
        h1 Go public with your support of the #{org.name} org
        p Your profile on GitHub currently does not list your participation in the #{org.name} organization. By making your association public, others in the community will see you listed on the page for #{org.name} and your personal GitHub profile page will show the logo, too.
        p
          a.btn.btn-default.btn-sm(href=org.baseUrl + 'membership') Learn more

      h1.capitalize #{org.name} Team Memberships

      if accountInfo.teamsMaintainedHash
        p Here are teams that you are a member of but not a maintainer of.

      if accountInfo.userTeamMemberships && accountInfo.userTeamMemberships.length && accountInfo.userTeamMemberships.length > 0
        script(type='text/javascript').
          function initializeMembershipFilter() {
            var inputMembershipFilter = $('#membership-filter');
            if (inputMembershipFilter) {
              inputMembershipFilter.keyup(function () {;
                $.uiTableFilter($('table#membership-table'), this.value, ['Team']);
              });
            }
          }
        table.table#membership-table
          thead
            tr
              th(colspan='1')
                form#membership-filter-form
                  input.form-control#membership-filter(name='filter', placeholder='Filter my teams', type='text')
                th
                  p
                    i.glyphicon.glyphicon-search
            tr
              th Team
              th.thirtypercent View
          tbody
            - var everyoneTeamId = org.inner.settings.teamAllMembers
            each team in accountInfo.userTeamMemberships
              if team.id && accountInfo.teamsMaintainedHash && accountInfo.teamsMaintainedHash[team.id] !== undefined
                // Skipping this team since they are already maintaining it
              else
                tr
                  td
                    a.capitalize.btn.btn-sm.btn-muted(href='https://github.com/orgs/' + team.org.name + '/teams/' + team.slug, target='_new')= team.name
                  td.thirtypercent
                    p
                      if everyoneTeamId == team.id
                        a.btn.btn-default.btn-sm(href=team.org.baseUrl + 'leave') Leave Organization
                      else
                        a.btn.btn-default.btn-sm(href='https://github.com/orgs/' + team.org.name + '/teams/' + team.slug, target='_new')
                          | Open on GitHub
                          i.glyphicon.glyphicon-share-alt
      else
        //-p You are not currently a member of any GitHub teams that grant you permission to specific repositories. You may be pre-approved to join teams.
        p You are not currently a member of any GitHub teams for #{org.name}. <em>This view is cached.</em>
      p
        a.btn.btn-default(href=org.baseUrl + 'teams')= (accountInfo.userTeamMemberships && accountInfo.userTeamMemberships.length && accountInfo.userTeamMemberships.length > 0) ? 'Join another team' : 'Join a team'

      if accountInfo.orgUser
        hr
        - var orgUser = accountInfo.orgUser
        h1(style='margin:36px 0') About the #{org.name} Organization
        div.row
          div.col-md-3.col-lg-3
            p
              img.img-thumbnail.img-responsive(src=orgUser.avatar(400), alt=(orgUser.name || orgUser.login))
            h3= orgUser.name
            h4= orgUser.login
            p(style='margin-top:18px')
              a.btn.btn-sm.btn-muted(href='https://github.com/' + org.name, target='_new')
                | View on GitHub
                i.glyphicon.glyphicon-share-alt
          div.col-md-8.col-lg-8.col-md-offset-1.col-lg-offset-1
            div.row
              div.col-md-6.col-lg-6
                if orgUser.company
                  h6 Company
                  p= orgUser.company
                if orgUser.location
                  h6 Location
                  p= orgUser.location
                if orgUser.email
                      h6 E-mail
                  p= orgUser.email
                if orgUser.otherFields.blog
                  h6 On the Web
                  p
                    a(href=orgUser.otherFields.blog, target='_new')
                      = orgUser.otherFields.blog + ' '
                      i.glyphicon.glyphicon-share-alt
                if orgUser.getProfileCreatedDate()
                  h6 Created
                  p
                    time(datetime=orgUser.getProfileCreatedDate().toISOString())= orgUser.getProfileCreatedDate().toDateString()
                if orgUser.getProfileCreatedDate()
                  h6 Updated
                  p
                    time(datetime=orgUser.getProfileUpdatedDate().toISOString())= orgUser.getProfileUpdatedDate().toDateString()
                hr
                if org.inner.settings.organizationPurpose
                  h6 How we use this organization
                  p= org.inner.settings.organizationPurpose
                if org.inner.settings.type
                  h6 Supported Repository Types
                  ul
                    li Public Repositories
                    if org.inner.settings.type == 'publicprivate'
                      li Private Repositories

              div.col-md-6.col-lg-h6
                h6 Repositories
                if orgUser.otherFields.public_repos
                  h2
                    = orgUser.otherFields.public_repos + ' '
                    small Open Source
                    //- small Public
                if orgUser.otherFields.total_private_repos
                  h2
                    = orgUser.otherFields.total_private_repos + ' '
                    small Private

                hr
                h6 #{config.companyName} Investment

                if orgUser.otherFields.plan && orgUser.otherFields.plan.private_repos
                  h2.capitalize
                    = orgUser.otherFields.plan.name + ' '
                    small Plan
                  h2
                      = (orgUser.otherFields.plan.private_repos - orgUser.otherFields.total_private_repos) + ' '
                      small Remaining Private Repos
                h2
                  | &infin;&nbsp;
                  small Remaining Public Repos

      if org.inner.settings.trainingResources
        - var tr = org.inner.settings.trainingResources
        if tr.organization && tr.organization.length && tr.organization.length > 0
          hr
          h3 Organization Resource#{tr.organization.length > 1 ? 's' : ''}
          ul.list-unstyled
            each resource in tr.organization
              li
                p
                  a(href=resource.link, target='_new')
                    = resource.title + ' '
                    i.glyphicon.glyphicon-share-alt
                  if resource.text
                    br
                    small= resource.text
      hr

      p
        a.btn.btn-default(href=org.baseUrl + 'leave') Leave #{org.name}
