//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

// Conditions for this page:
// - already an organization member

block content
  div.container

    h1 We'll miss you!
    p.lead Are you sure that you want to leave the #{org.name} organization on GitHub?

    p Please carefully review this page. Data loss is possible if you have forks of private organization repos.

    p
      ul
        li Your GitHub account #{user.github.username} will be dropped from the org via the GitHub API immediately following this page
        li Any private forks of repos from #{org.name} will be deleted by GitHub
        li Any work done in a private fork of repos from #{org.name} will be lost. Data loss may happen.
      
    form(method='post')
      p(style='margin-top:36px')
        input.btn.btn-primary(type='submit', value='Remove ' + user.github.username + ' from ' + org.name)
        | &nbsp;&nbsp;&nbsp;
        a.btn.btn-default(href=org.baseUrl) Cancel
