//-
//- Copyright (c) Microsoft.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

block js_doc_ready
  | var inviteInterfaceUpdateOnClick = function(){$('#openInviteButton').removeClass('btn-primary').addClass('btn-muted');$('#inviteAcceptedButton').removeClass('btn-muted').addClass('btn-primary');alert('On the next page press the green Join button.\n\nThen close the page and return here to continue onboarding to #{organization.name}.');return true;};
  | $('#openInviteButton').click(inviteInterfaceUpdateOnClick);
  | $('#openInviteButton2').click(inviteInterfaceUpdateOnClick);

block content
  .container
    if writeOrgFailureMessage
      .alert.alert-danger
        if showTwoFactorWarning
          h2 Two-factor authentication is required to continue
        else
          h2 GitHub API warning
        p.lead= writeOrgFailureMessage

    if state === 'pending' && showTwoFactorWarning

      p(style='margin-top:24px')
        | This organization has enabled GitHub's&nbsp;
        a(href='https://help.github.com/articles/requiring-two-factor-authentication-in-your-organization/', target='_new') two-factor authentication requirement
        |. As a result, you cannot join the org until you&nbsp;
        a(href='https://github.com/settings/two_factor_authentication/configure') turn on two-factor auth&nbsp;
        | with GitHub.

      form(method='post')
        ul.list-inline
          li
            a.btn.btn-primary(href='https://github.com/settings/two_factor_authentication/configure', target='_new') Configure 2FA on GitHub
          li
            input.btn.btn-default(type='submit', value='Validate 2FA and continue', title='Pending - you have already been invited')

      include twoFactorInstructions

    else if state == 'pending'
      if showApplicationPermissionWarning
        // Need to figure out what the right message is to show here

      h1 Action Required: Please accept your invitation on GitHub.com

      p.lead GitHub has sent an invitation to the <em>#{organization.name}</em> organization.
      p
        | You can accept the invitation on the GitHub site.&nbsp;
        strong Please return to this tab after accepting your invite to continue on this site.
      div.row
        div.col-md-6.col-lg-6
          h3 Step 1: Accept your invite from GitHub
          p
            | Open your invite on GitHub and press the green button.
          p
            a.btn.btn-lg.capitalize.btn-primary#openInviteButton(href='https://github.com/orgs/' + organization.name + '/invitation', target='_new') Open your #{organization.name} invitation
          h3 Step 2: Return back here
          p
            | After pressing the green Join button, close the GitHub site and click Continue on this page. We'll then take you to a security check the "Join Teams" experience.
          p
            a.btn.btn-lg.btn-muted#inviteAcceptedButton(href=organization.baseUrl + 'join' + (onboarding ? '?onboarding=' + onboarding : '')) I've accepted my invite on GitHub.com, continue...
        div.col-md-6.col-lg-6
          p(style='border:1px solid #ccc; padding:12px')
            a#openInviteButton2(target='_new', href='https://github.com/orgs/' + organization.name + '/invitation')
              img.img-responsive(src='/img/GitHubInvitation.png', title='A screenshot of what the GitHub invitation looks like. The experience is hosted outside of this portal and actually on GitHub.com', alt='A screenshot of what the GitHub invitation looks like. The experience is hosted outside of this portal and actually on GitHub.com')
            br
            | A sample GitHub invite. Press the green button and close the page.

    else if state == 'active'
      h1 You're now a member of #{organization.name}.
      p You are currently a member of this additional organization. No additional work is required to gain access to it.
      p If you need to join a specific team to gain additional permissions, you can use the Join a Team experience on this site.
      p
        a.btn.btn-primary(href='/teams') Join a team

    else
      div.row
        div.col-md-8.col-lg-8
          h1 Want to join #{organization.name}?
          if organization && organization.pilot_program && organization.pilot_program === 'pilot'
            //- Pilot program
            //- Due to SAML, auto-invite and accept does not work
            p.lead 1ES Engineering Pilot
            ul
              li An invitation will be sent to your GitHub account.
              li You accept the invitation in on GitHub.com. Due to SAML (single Microsoft sign-on), you may need to authenticate again with Microsoft AAD.
              li You come back to this site and continue onboarding.
            p &nbsp;
            form(method='post')
              p
                input.btn.btn-primary.btn-lg(type='submit', value='Join ' + organization.name)

          else if hasIncreasedScope && supportsExpressJoinExperience
            form(method='post')
              p(style='margin-top:24px')
                input.btn.btn-primary.btn-huge(type='submit', value='Join ' + organization.name)
          else
            if supportsExpressJoinExperience
              p.
                Authorize this site to use the
                <a href="https://developer.github.com/v3/oauth/#scopes" target="_new"><code>org:write</code></a>
                permission and immediately join the organization.
              p
                a.btn.btn-primary.btn-huge(href='/' + organization.name + '/join/express' + (onboarding ? '?onboarding=' + onboarding : ''))
                  | Join #{organization.name}
              hr
              p.lead Just send me an invite
              ul
                li An email invitation will be sent to you from GitHub.
                li You accept the invitation at GitHub.com.
                li Return to this site to continue onboarding.
              form(method='post')
                p
                  input.btn.btn-muted-more.btn-lg(type='submit', value='Manually Join ' + organization.name)
            else
              //- When the newer GitHub App model is being used, due to bugs
              //- right now, the express join experience will not work... so
              //- manual invitations only must be used.
              p.lead Send me an invite
              ul
                li An email invitation will be sent to you from GitHub.
                li You accept the invite at GitHub.com.
                li Return to this site to continue onboarding.
              form(method='post')
                p
                  input.btn.btn-primary.btn-huge(type='submit', value='Invite me to ' + organization.name)

          if link
            p &nbsp;
            p &nbsp;
            h4 Your linked GitHub account

            if hasIncreasedScope
              p An invitation will be sent to your GitHub account #[strong #[a(href='https://github.com/' + link.thirdPartyUsername, target='_new') #{link.thirdPartyUsername}]] and automatically accepted as part of the one-click join experience.
            else
              p An invitation will be sent to your GitHub account #[strong #[a(href='https://github.com/' + link.thirdPartyUsername, target='_new') #{link.thirdPartyUsername}]] for you to accept.

            if accountDetails
              - var moment = viewServices.moment
              table.table
                thead
                  tr
                    th GitHub Username
                    th User ID
                    if accountDetails.created_at
                      th Account created
                tbody
                  tr
                    td= accountDetails.login
                    td= accountDetails.id
                    if accountDetails.created_at
                      td= moment(accountDetails.created_at).fromNow()

            p: small Not the account you are expecting?
            p: small: a.btn.btn-muted.btn-sm(href='/settings') Remove your link

          if onboarding
            p &nbsp;
            hr
            h3 Your onboarding progress
            h5
              | Sign in to your GitHub &amp; #{config.brand.companyName} accounts&nbsp;
              i.glyphicon.glyphicon-ok
            h5
              | Link your accounts&nbsp;
              i.glyphicon.glyphicon-ok
            h5.text-primary
              strong Join your first GitHub organization
            h5
              | Profile review
            h5
              | Publish your membership #[small: em optional]
            h5
              | Join a team #[small: em optional]

        div.col-md-4.col-lg-4
          if orgAccount && orgAccount.organizationProfile
            - var orgUser = orgAccount.organizationProfile
            p
              img.img-thumbnail.img-responsive(src=orgAccount.avatar(400), alt=(orgUser.name || orgUser.login))
            if orgUser.name
              h3= orgUser.name
            if orgUser.login
              h4
                = orgUser.login
                = ' '
                if orgUser.is_verified == true
                  small: span.label.label-success Verified
                else
                  small: span.label.label-danger Not verified
            if organization.name
              p(style='margin-top:18px')
                a.btn.btn-sm.btn-muted(href='https://github.com/' + organization.name, target='_new')
                  | Open organization on GitHub

            div.row
              div.col-md-6.col-lg-6
                if orgUser.company
                  h6 Company
                  p= orgUser.company
                if orgUser.location
                  h6 Location
                  p= orgUser.location
                if orgUser.email
                  h6 E-mail
                  p= orgUser.email
                if orgUser.blog
                  h6 On the Web
                  p
                    a(href=orgUser.blog, target='_new')= orgUser.blog
                if orgUser.created_at
                  h6 Created
                  p
                    time(datetime=orgUser.created_at)= orgUser.created_at
                if orgUser.updated_at
                  h6 Updated
                  p
                    time(datetime=orgUser.updated_at)= orgUser.updated_at
                if organization.configuredOrganizationRepositoryTypes
                  h6 Supported Repository Types
                  ul.list-unstyled
                    li Public
                    if organization.configuredOrganizationRepositoryTypes == 'publicprivate' || organization.configuredOrganizationRepositoryTypes == 'private'
                      li Private
              div.col-md-6.col-lg-h6
                h6 Repositories
                if orgUser.public_repos
                  h2
                    = orgUser.public_repos + ' '
                    small Public
                    //- small Public
                if orgUser.total_private_repos
                  h2
                    = orgUser.total_private_repos + ' '
                    small Private

                hr
                if orgUser.plan && orgUser.plan.name == 'enterprise'
                  h4
                    | Enterprise Cloud
                    small= ' Plan'
                  if orgUser.plan.filled_seats
                    h4
                      = orgUser.plan.filled_seats
                      small= ' Filled Seats'
                  if orgUser.plan.seats
                    h4
                      = orgUser.plan.seats
                      small= ' Seats'

                else
                  h6 Remaining Repositories
                  if orgUser.plan && orgUser.plan.private_repos
                    h2
                      = orgUser.plan.name + ' '
                      small Plan
                    h2
                        = (orgUser.plan.private_repos - orgUser.total_private_repos) + ' '
                        small Private
                  h2
                    | &infin;&nbsp;
                    small Public
