//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

block content
  if true
    if true
      div.container
        div.row
          div.col-lg-8.col-md-8.col-sm-8
            h1 Is your GitHub profile professional?
            if onboarding
              p.lead Since you've just linked your #{config.brand.companyName} and GitHub accounts, it's a perfect time to think about how you show up in public on GitHub.
            p Your interactions in public open source repos (commenting on issues, creating and working with pull requests, contributing source) are all associated with your public GitHub profile. With #{config.brand.companyName}'s open source and social media policies in mind, consider the these questions:
            ul
              li Are you using the name you use professionally?
              li Have you identified #{config.brand.companyName} as your company?
              li Have you included an e-mail address?
              li Do you have a professional, smart profile avatar?
            p &nbsp;
            p
              a.btn.btn-primary.btn-lg(href=organization.baseUrl + (onboarding ? 'membership?onboarding=' + onboarding : 'membership')) Continue
              | &nbsp;&nbsp;
              a.btn.btn-default.btn-lg(href='https://github.com/settings/profile', target='_new')
                | Edit your profile on GitHub

            if onboarding
              p &nbsp;
              hr
              h3 Your onboarding progress
              h5
                | Sign in to your GitHub &amp; #{config.brand.companyName} accounts&nbsp;
                i.glyphicon.glyphicon-ok
              h5
                | Link your accounts&nbsp;
                i.glyphicon.glyphicon-ok
              h5
                | Join your first GitHub organization&nbsp;
                i.glyphicon.glyphicon-ok
              h5
                | Multifactor security checkup&nbsp;
                i.glyphicon.glyphicon-ok
              h5.text-primary
                | Profile review
              h5
                | Publish your membership <em>(optional)</em>
              h5
                | Join a team <em>(optional)</em>

          div.col-lg-4.col-md-4.col-sm-4
            div.row
              div.col-lg-12.col-sm-12.col-md-12.alert-gray
                h4 YOUR GITHUB PROFILE
                p
                  img.img-thumbnail(style='max-width:200px', src=userProfile.avatar(400), alt=(userProfile.name || userProfile.login))
                span
                  p
                    | GitHub username
                    br
                    strong= userProfile.login
                span
                  p
                    | Name
                    br
                    strong= userProfile.name
                span(style=userProfileWarnings.company)
                  p
                    | Company
                    br
                    if userProfile.company
                      strong= userProfile.company
                    else
                      strong No company listed
                if userProfile.location
                  span
                    p
                      | Location
                      br
                      strong= userProfile.location
                span(style=userProfileWarnings.email)
                  p
                    | E-mail
                    br
                    if userProfile.email
                      strong= userProfile.email
                    else
                      strong No e-mail provided
                if userProfile.otherFields.blog
                  span
                    p
                      | Web
                      br
                      a(href=userProfile.otherFields.blog, target='_new')
                        strong= userProfile.otherFields.blog
                p(style='margin:16px 0')
                  a.btn.btn-default.btn-sm(href='https://github.com/settings/profile', target='_new')
                    | Edit your profile on GitHub
