//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../layout

block content
  div.container

    if publicMembership
      h1
        | Thanks for supporting #{org.name}
      p.lead Your membership is currently public.
      p If you conceal your membership, you will not appear on the #{org.name} list of members nor be counted in the public membership count.
    else
      h1 Would you like to publish your #{org.name} org membership?

    if user && user.github.increasedScope === true
      p &nbsp;
      if !publicMembership
        p.lead Show your support for #{config.companyName} open source!
        p If you want to make your membership public, GitHub will show the "#{org.name}" organization on your public GitHub profile at <a href="https://github.com/#{user.github.username}" target="_new">https://github.com/#{user.github.username}</a>.
      p &nbsp;
      form(method='post')
        p
          input.btn.btn-lg.btn-primary(type='submit', value=publicMembership ? 'Conceal my membership' : 'Make my membership public', name=publicMembership ? 'conceal' : 'publicize')
          | &nbsp; &nbsp;
          if onboarding || joining
            a.btn.btn-default.btn-lg(href=org.baseUrl + 'teams' + teamPostfix)
              if publicMembership
                | Keep it public
              else
                | Keep it hidden
          else
            a.btn.btn-default.btn-lg(href=org.baseUrl) Cancel

    else
      p If you make your membership public, others in the worldwide open source community will see you listed on the page for #{org.name} and your personal GitHub profile page will show the #{org.name} avatar.

      h2 Authorize #{org.name} to publish your organization membership
      p Authorize us to get permission from GitHub to update your organization status
      p
        a.btn.btn-primary(href='/signin/github/increased-scope') Authorize additional permissions for #{org.name} with GitHub
        if (!(onboarding || joining))
          | &nbsp; &nbsp;
          a.btn.btn-default(href=org.baseUrl) Cancel

      if onboarding || joining
        h2 Keep your membership private
        p You can always change your mind from the organization portal start page.
        p
          a.btn.btn-default(href=org.baseUrl + 'teams' + (onboarding ? '?onboarding=' + onboarding : '')) Keep my membership private

      hr
      h4 About this additional GitHub authorization
      p This open source portal is designed to use the bare minimum of <a href="https://developer.github.com/v3/oauth/#scopes" target="_new">GitHub OAuth scopes</a>. To change your public membership, we need to temporarily increase the scope to the <code>write:org</code> scope that enables publicizing and unpublicizing your membership.

      p If you would rather not grant the additional scope, you can also modify your organization membership status manually at
          a(href='https://github.com/orgs/' + org.name + '/people?query=' + theirUsername, target='_new') https://github.com/orgs/#{org.name}/people?query=#{theirUsername}
      p The next time you sign in to use this portal, the expanded scope will be removed.
