//-
//- Copyright (c) Microsoft. All rights reserved.
//- Licensed under the MIT license. See LICENSE file in the project root for full license information.
//-

extends ../body

block content
  h2
    = team
    | &nbsp;
    small= org

  p.
    Your permission request has been submitted.

  p
    a(href=reposSiteUrl + 'approvals/', style='display:inline-block;background-color:#eee;font-size:18px;padding:12px') Review your requests here

  h3 Request details

  table.technical(style='width:80%')
    thead
      tr
        th(colspan=2) Requested by
    tbody
      tr
        td
          p
            a(href='https://github.com/' + approvalRequest.ghu)= approvalRequest.ghu
        td= approvalRequest.email
    thead
      tr
        th(colspan=2) Team
    tbody
      tr
        td GitHub organization
        td= org
      tr
        td Team name
        td= team
    if approvalRequest.justification
      thead
        tr
          th(colspan=2) Justification provided by #{personName || personMail}
        tr
          td(colspan=2)
            p= approvalRequest.justification

  p If you prefer not to click on email links, you can find your requests by:
  ul
    li Navigating to the open source repos site at #{reposSiteUrl}
    li Go to the <em>/approvals</em> URL
    li Review your request details
